html{
    height: 100%;
}
body {
    background-color: #eee;
    height: 100%;
}

.form-signin {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #1b8ed0;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin .form-signin-heading{
    color: #fff;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
}

.site-title{
    color: #004671;
}

.green-accent{
    color: #a5d334;
}

.navbar{
    margin-bottom: 0px;
}
.navbar-inner{
    border-radius: 0px;
    background: #004671 !important;
    border: 0px !important;
    border-bottom: 5px solid #fff !important;
}
.navbar-inverse .brand{
    background: #a5d334;
    color: #fff;
}

.breadcrumb{
    background: #eee;
}

.content {
    background: #fff;
}

table thead{
    background: #a8a8a8;
    color: #fff;
    font-size: 12px;
}
table tbody{
    font-size: 11px;
    background: #fff;
}

table.project-details tbody td:hover{
    cursor: pointer;
}

.logged-user{
    color: #fff !important;
}

#push{
    height: 60px;
}
#footer{
    height: 45px;
    background: #004671;
    padding-top: 10px;
    border-top: 5px solid #fff;
    
}

#footer p{
    font-size: 12px;color: #fff;
    margin-top: 5px;
}
.expired{
    color: red;
}

.project-details thead th{
    text-align: center;
}
.breadcrumb{
    margin-left: 25px;
}

.form-wrapper{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.nav-link:hover{
    color: #fff;
}

.error-field{
    border: 1px solid red !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf8e3;
}